
Debug
__pycache__*
*.pyc
Create_IC/__pycache__/__init__.cpython-37.pyc
Create_IC/__pycache__/Contact_gg_ic.cpython-37.pyc
Create_IC/__pycache__/Contact_gw_ic.cpython-37.pyc
Create_IC/__pycache__/Grain_ic.cpython-37.pyc
Create_IC/__pycache__/__init__.cpython-37.pyc
